<div class="row">
    <div class="col-md-2">Speaker name</div>
    <div class="col-md-3">Arrival</div>
    <div class="col-md-3">Departure</div>
    <div class="col-md-2">Type</div>
    <div class="col-md-2">Travels with guest</div>
</div>

<div data-bind="foreach: accommodationRequests">
    <div class="row">
        <div class="col-md-2">
            <span data-bind="text: $data.lastName"></span>
            <span data-bind="text: $data.firstName"></span>
        </div>
        <div class="col-md-3">
            <span data-bind="text: $data.dateOfArrival"></span><br/>
        </div>
        <div class="col-md-3">
            <span data-bind="text: $data.dateOfDeparture"></span>
        </div>
        <div class="col-md-2">
            <span data-bind="text: $data.accommodationType"></span>
        </div>
        <div class="col-md-2">
            <span data-bind="visible: $data.travelWithGuest" class="glyphicon glyphicon-ok"></span>
        </div>
    </div>
</div>