<div class="row">
    <div class="col-md-2">Trainer name</div>
    <div class="col-md-8">Workshop</div>
    <div class="col-md-1">Level</div>
    <div class="col-md-1">Language</div>
</div>

<div data-bind="foreach: profiles">
    <div data-bind="foreach: $data.workshopTopics">
        <div class="row">
            <div class="col-md-2">
                <span data-bind="text: $parent.lastName"></span>
                <span data-bind="text: $parent.firstName"></span>
            </div>
            <div class="col-md-8">
                <span data-bind="text: $data.topic"></span>
            </div>
            <div class="col-md-1">
                <span data-bind="text: $data.level"></span>
            </div>
            <div class="col-md-1">
                <span data-bind="text: $data.language"></span>
            </div>
        </div>
    </div>
</div>