<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speaker Submission Dashboard</title>

    <link rel="stylesheet" type="text/css" href="./../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>

<div id="app">

    <script>
        function writeFileContent(filePath) {
            const fs = require('fs');
            const path = require('path');

            let filePathAbsolute = Array.isArray(filePath) ?
                path.join.apply([__dirname].concat(filePath)) :
                path.join(__dirname, filePath);

            document.write(fs.readFileSync(filePathAbsolute, 'utf8'));
        }
    </script>

    <div class="container-fluid">
        <div data-bind="visible: message.isVisible" class="jumbotron">
            <h1>Stay tuned...</h1>
        </div>

        <div data-bind="visible: !message.isVisible()" style="display: none;" class="form-horizontal">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tabSpeakers" aria-controls="tabSpeakers" role="tab" data-toggle="tab">Speakers</a></li>
                        <li role="presentation"><a href="#tabWorkshops" aria-controls="tabWorkshops" role="tab" data-toggle="tab">Workshops</a></li>
                        <li role="presentation"><a href="#tabTopics" aria-controls="tabTopics" role="tab" data-toggle="tab">Topics</a></li>
                        <li role="presentation"><a href="#tabTravels" aria-controls="tabTravels" role="tab" data-toggle="tab">Travels</a></li>
                        <li role="presentation"><a href="#tabAccommodations" aria-controls="tabAccommodations" role="tab" data-toggle="tab">Accommodations</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button data-bind="click: refresh" class="btn btn-primary">
                                <span class="glyphicon glyphicon-refresh"></span>&nbsp;
                                Refresh
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tabSpeakers">
                    <script>
                        writeFileContent('_speakers.html');
                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabWorkshops">
                    <script>
                        writeFileContent('_workshops.html');
                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabTopics">
                    <script>
                        writeFileContent('_topics.html');
                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabTravels">
                    <script>
                        writeFileContent('_travels.html');
                    </script>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabAccommodations">
                    <script>
                        writeFileContent('_accommodations.html');
                    </script>
                </div>
            </div>
        </div>
    </div>

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src="./../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./../../node_modules/knockout/build/output/knockout-latest.js"></script>

    <script>if (window.module) module = window.module;</script>
    
    <script src="./../../script/DashboardConfigs.js"></script>
    <script src="./../../script/DashboardUtils.js"></script>
    <script src="./../../script/data/AzureBlobStorage.js"></script>

    <script src="./../../script/app/DashboardApp.js"></script>
    <script>
        (function(){
            let root = document.getElementById('app');
            let dashboardApp = new DashboardApp(root);
            dashboardApp.init();
        })();
    </script>
</div>

</body>
</html>