<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&nbsp;
        Conference topics
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <p>
                Conference will take place on September the 9th.
            </p>
            <p>
                We are mainly looking for speakers who can talk about Microsoft Azure, but if you want to share your experience in some adjacent topic – do not hesitate to apply, because we review all applications.
            </p>
            <p>
                Your presentation should be 50 minutes long (+10 minutes for questions) and be prepared beforehand in English, Ukrainian or Russian.
            </p>
            <div>
                We will ask you to deliver your presentation from our computer (we accept ppt and pdf formats). If you need to show some demos - please setup them on Azure VM, so you can RDP there from our computer.
            </div>
        </div>

        <div data-bind="foreach: speaker.conferenceTopics">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Title</label>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <input data-bind="textInput: $data.title" placeholder="Title" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Description</label>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <textarea data-bind="textInput: $data.description" class="form-control" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Level</label>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <select data-bind="value: $data.level" class="form-control">
                        <option>Expert</option>
                        <option>Intermediate</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Language</label>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <select data-bind="value: $data.language" class="form-control">
                        <option>English</option>
                        <option>Russian</option>
                        <option>Ukrainian</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button class="col-xs-3 col-xs-offset-8 col-sm-2 col-sm-offset-9 col-md-2 col-md-offset-9 col-lg-2 col-lg-offset-9 btn btn-danger" data-bind="click: $parent.removeConferenceTopic">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button data-bind="click: addConferenceTopic" class="btn btn-primary">Add conference topic</button>
    </div>
</div>