<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;
        Other
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="tbNotes" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Any other notes</label>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <textarea id="tbNotes" data-bind="textInput: speaker.notes" rows="4" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>