<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
        Speaker profile
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <p>
                We are looking for cloud professionals who are willing and ready to travel in order to share their knowledge and experience with other cloud professionals and enthusiasts in Ukraine.
            </p>
        </div>


        <div class="form-group">
            <label for="tbFirstName" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-10">
                <input id="tbFirstName" data-bind="textInput: speaker.firstName" placeholder="First name" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="tbLastName" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-10">
                <input id="tbLastName" data-bind="textInput: speaker.lastName" placeholder="Last name" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="tbCountry" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
                <input id="tbCountry" data-bind="textInput: speaker.country" placeholder="Country" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="tbCity" class="col-sm-2 control-label">City</label>
            <div class="col-sm-10">
                <input id="tbCity" data-bind="textInput: speaker.city" placeholder="City" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="tbCompany" class="col-sm-2 control-label">Company</label>
            <div class="col-sm-10">
                <input id="tbCompany" data-bind="textInput: speaker.company" placeholder="Company" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="tbJobTitle" class="col-sm-2 control-label">Job title</label>
            <div class="col-sm-10">
                <input id="tbJobTitle" data-bind="textInput: speaker.jobTitle" placeholder="Job title" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="tbPhone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <input id="tbPhone" data-bind="textInput: speaker.phone" placeholder="Phone" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-info">
            Phone is for organization and emergency use only, we do not share your contacts with third parties.
        </div>

        <div class="form-group">
            <label for="tbEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input id="tbEmail" data-bind="textInput: speaker.email" placeholder="Email" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-info">
            Email is for organization and emergency use only, we do not share your contacts with third parties.
        </div>

        <div class="form-group">
            <label for="tbPhotoUrl" class="col-sm-2 control-label">Photo url</label>
            <div class="col-sm-10">
                <input id="tbPhotoUrl" data-bind="textInput: speaker.photoUrl" placeholder="Photo url" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="tbBio" class="col-sm-2 control-label">Bio</label>
            <div class="col-sm-10">
                <textarea id="tbBio" data-bind="textInput: speaker.bio" placeholder="Bio" rows="4" class="form-control"></textarea>
            </div>
        </div>

    </div>
</div>