<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
        Travel profile
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <p>
                In case you need accommodation we offer free accommodations to all speakers in a 4* hotel in Kyiv, Ukraine, for the duration of the conference. We can offer additional accommodations for one guest of the speaker for the duration of the conference, if speaker and guest are staying in the same hotel room.
            </p>
            <p>
                We offer one free guest ticket for the conference per speaker.
            </p>
            <p>
                We are going to hold speakers’ dinners and entertainment events, which all speakers and their guests can attend.
            </p>
        </div>

        <div class="form-group">
            <label for="cbTravelWithGuest" class="col-sm-2 control-label">Travels with guest</label>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input id="cbTravelWithGuest" data-bind="checked: speaker.travelWithGuest" type="checkbox" class="form-control">
            </div>
        </div>
        <div class="alert alert-info" data-bind="visible: speaker.travelWithGuest">
            Please note that we DO NOT cover travel expenses for speaker's guest.
        </div>

        <div class="form-group">
            <label for="ddlDateOfArrival" class="col-sm-2 control-label">Date of arrival</label>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <select id="ddlDateOfArrival" data-bind="options: travel.dates, value: speaker.dateOfArrival" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="ddlDateOfDeparture" class="col-sm-2 control-label">Date of departure</label>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <select id="ddlDateOfDeparture" data-bind="options: travel.dates, value: speaker.dateOfDeparture" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="cbRequireAccommodation" class="col-sm-2 control-label">Requires accommodation</label>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input id="cbRequireAccommodation" data-bind="checked: speaker.requireAccommodation" type="checkbox" class="form-control">
            </div>
        </div>
        <div class="form-group" data-bind="visible: speaker.requireAccommodation">
            <label for="ddlAccommodationType" class="col-sm-2 control-label">Accommodation type</label>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <select id="ddlAccommodationType" data-bind="options: travel.accommodationTypes, optionsText: 'title', value: speaker.accommodationType" class="form-control"></select>
            </div>
        </div>
        <div class="alert alert-info" data-bind="visible: speaker.requireAccommodation, text: speaker.accommodationType().description"></div>

        <div class="form-group">
            <label for="cbRequireTravel" class="col-sm-2 control-label">Requires travel</label>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <input id="cbRequireTravel" data-bind="checked: speaker.requireTravel" type="checkbox" class="form-control">
            </div>
        </div>
        <div class="form-group" data-bind="visible: speaker.requireTravel">
            <label for="ddlTravelType" class="col-sm-2 control-label">Means of travel</label>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <select id="ddlTravelType" data-bind="options: travel.travelTypes, optionsText: 'title', value: speaker.travelType" class="form-control"></select>
            </div>
        </div>
    </div>
</div>