<div class="panel panel-default">
    <div class="panel-heading">Workshop topics</div>
    <div class="panel-body">
        <div class="alert alert-info">
            <p>
                All workshops will take place on September the 8th, one day before conference.
            </p>
            <p>
                We are mainly looking for speakers who can deliver a full-day workshop about Microsoft Azure, but if you want to share your experience in some adjacent topic – do not hesitate to apply, because we review all applications.
            </p>
            <p>
                Each workshop can accommodate up to 20 attendees. Each attendee has to be equipped with a laptop and azure subscription. In case they will need to install some other software (except web browser), please inform organizers beforehand.
            </p>
        </div>

        <div data-bind="foreach: speaker.workshopTopics">
            <div class="form-group">
                <label class="col-sm-2 control-label">Workshop topic</label>
                <div class="col-sm-10">
                    <input data-bind="textInput: $data.topic" placeholder="Workshop topic" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Level</label>
                <div class="col-sm-10">
                    <select data-bind="value: $data.level" class="form-control">
                        <option>Expert</option>
                        <option>Intermediate</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Language</label>
                <div class="col-sm-10">
                    <select data-bind="value: $data.language" class="form-control">
                        <option>English</option>
                        <option>Russian</option>
                        <option>Ukrainian</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button class="col-sm-1 btn btn-danger" data-bind="click: $parent.removeWorkshopTopic">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button data-bind="click: addWorkshopTopic" class="btn btn-primary">Add workshop topic</button>
    </div>
</div>